
  <ion-modal-view>
    <ion-content id="modal-body">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="searchString" >
        </label>
        <button class="button button-small" ng-click="closeModal()">Cancel</button>
        </div>
          <div class="list">
            <a class="item item-avatar" style="background-color: #92406d; color: white;" ng-repeat="employee in employees | searchFor:searchString" ng-click="attempVisit(employee)">
              <img src="img/user-icon-placeholder.png">
              <h2>{{employee.username}}</h2>
              <p class="try">{{employee.vBuilding}}</p>
            </a>
        </div>
    </ion-content>
  </ion-modal-view>
