﻿<ion-pane>
  <ion-content>
    <!--<div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchString">
      </label>
      <button class="button button-clear">
        Cancel
      </button>
      </div>
        <div class="list">
          <a class="item item-avatar" ng-repeat="employee in employees | searchFor:searchString" ng-click="attempVisit(employee)">
            <img src="img/user-icon-placeholder.png">
            <h2>{{employee.username}}</h2>
            <p class="try">{{employee.vBuilding}}</p>
          </a>
      </div>-->
      <div class="search-image-holder">
      </div>
      <div class="search-holder">

          <div class="list">

            <div class="item item-icon-left">
              <i class="icon custom-icon ion-person-stalker"></i>
              <span class="instructions">1. Search For Person</span>
            </div>

            <div class="item item-input-inset">
              <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input id="search1" type="text" placeholder="Search for person" ng-model="searchString" ng-change="launchSearch()">
              </label>
            </div>

            <div class="item item-icon-left " href="#">
              <i class="icon custom-icon ion-person"></i>
              <span class="instructions">2. Select Person</span>
            </div>

            <div class="item item-icon-left" href="#">
              <i class="icon custom-icon ion-edit"></i>
              <span class="instructions">3. Enter Your Name</span>
            </div>

            <div class="item  item-icon-left item-icon-right" href="#">
              <i class="icon custom-icon ion-camera"></i>
              <span class="instructions">4. Smile For The Camera</span>
              <i class="icon custom-icon ion-happy"></i>
            </div>

          </div>
    </ion-content>
</ion-pane>
