﻿/* Empty. Add your own CSS if you like */
.welcome {
    background: url('../img/6806975-purple-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .welcome .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: -50px; /* the height of the centered content */
    text-align: center;
  }
  .welcome .scroll {
    display: table-cell;
    vertical-align: middle;
  }

.button-silica{
  background-color: #92406d;
  color: white;
}

.button-silica:hover{
  background-color: #92406d;
  color: white;
}

.silica-spinner{
  color: #92406d;
}

.popup-buttons .button {

    background-color: #92406d;
    color: white;
}

.popup-buttons .button:hover {

    background-color: #92406d;
    color: white;
}

.search-image-holder{
  height: 40%;
  background: url('../img/p28.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.search-holder{
  height: 60%;
  background-color: #92406d;
}

.item-input-inset{
  background-color: #92406d;
}

.item{
  background-color: #92406d;
  color: white;
  height: 88px;
}

#search1 {
  height: 80px;
}

.custom-icon{
  color: white;
}

.item p{
  color: white;
}

.item h2{
  color: white;
}

.item img{
  background-color: white;
}

#modal-body{
  background-color: #92406d;
}

.modal{
  top: 0 ;
  bottom: 0 ;
  left: 0 ;
  right: 0 ;
  width: 100% ;
}

.custom-icon2{
  font-size: 50px;
  padding-left: 50%;
  color: #92406d;
}

h1, .h1 {
  font-size: 66px;
}

.instructions{}
