<ion-pane class="welcome" scroll="false">
  <ion-content>
    <div class="row">
      <div class="col text-center padding">
        <h1 class="title light">Welcome To Silica</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="title light" ng-click="goToLogin()">Check-In <button class="button button-clear button-light icon ion-log-in " ng-click="goToLogin()"></button></h2> 
      </div>
    </div>
  </ion-content>
</ion-pane>
